
*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
}

header{
    background-color: #750DB5;
}

.container {
    width: 80%;
    margin: 0px auto;
    /* margin-right: auto; */
    /* margin-left: auto; */
    
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    color: #ffffff;
}

/* .header-wrapper nav a:not(:last-child){
    color: #ffffff;   
    margin-right: 25px;
} */

.header-wrapper nav a{
    color: #ffffff;   
    /* margin-right: 25px; */
}

/* .header-wrapper nav a:last-child{
    margin-right: 0px;
} */

.header-wrapper nav{
    display: flex;
    gap: 25px;
}

.banner-wrapper{
    display: flex;
    align-items: center;
}


.banner-wrapper>div:first-child,
.banner-wrapper>div:last-child{
    width: 50%;
}

.banner-wrapper>div:last-child img{
    width: 100%;
}

.banner-wrapper h1{
    font-size: 48px;
    font-weight: 500;
    /* margin-bottom: 30px; */
    line-height: 80px;
}

.banner-wrapper p{
   margin: 30px 0px;
}

.banner-wrapper>div:first-child>div{
    display: flex;
    gap: 30px;
    align-items: center;
}

.banner-wrapper>div:first-child>div>a:first-child{
    background-color: #FFA92C;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 15px;
}



.jobs{
    padding: 100px 0px;
}

.jobs-wrapper{
    display: flex;
    gap: 25px;
    flex-grow: 1;
}

.jobs-wrapper>div{
    padding: 25px;
    color: #ffffff;
    border-radius: 15px;

}

.jobs-wrapper>div>div{
   display: flex;
   align-items: center;
   gap: 15px;
}

.jobs-wrapper>div>div a{
    border: 1px solid #ffffff;
    padding: 10px;
    color: #ffffff;
    border-radius: 10px;
    background-color: transparent;
    transition:all .30s;
}

.jobs-wrapper>div>div a:hover{
    background-color: #FFA92C;
}

.jobs-wrapper>div h3{
   margin: 10px 0px;
}

.jobs-wrapper>div p{
    margin: 15px 0px;
}

.jobs-wrapper>div:nth-child(1){
    background-color: #0C445C;
}
.jobs-wrapper>div:nth-child(2){
   background-color: #5B2C98;
}
.jobs-wrapper>div:nth-child(3){
  background-color: #7F3219;
}

footer{
    background-color: #D6D6D6;
    text-align: center;
    padding: 15px 0px;
}

.banner h1 span{
    display: block;
}


@media only screen and (max-width: 1100px) {
    .banner h1{
        font-size: 35px;
    }
 }
@media only screen and (max-width: 992px) {
   .jobs-wrapper{
     flex-direction: column;
   }
 }

 @media only screen and (max-width: 768px) {
    .banner-wrapper{
      flex-direction: column;
      text-align: center;
    }

    .banner-wrapper>div{
        width: 100% !important;
    }

    .banner h1 span{
        display: inline;
    }

    .banner-wrapper>div:first-child>div{
        justify-content: center;
    }
 } 

@media only screen and (max-width: 600px) {
   .header-wrapper{
    flex-direction: column;
    align-items: center;
    gap: 20px;
   }
}
