
*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
}

header{
    background-color: #750DB5;
}

.container {
    width: 80%;
    margin: 0px auto;
    /* margin-right: auto; */
    /* margin-left: auto; */
    
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    color: #ffffff;
}

/* .header-wrapper nav a:not(:last-child){
    color: #ffffff;   
    margin-right: 25px;
} */

.header-wrapper nav a{
    color: #ffffff;   
    /* margin-right: 25px; */
}

/* .header-wrapper nav a:last-child{
    margin-right: 0px;
} */

.header-wrapper nav{
    display: flex;
    gap: 25px;
}

.banner-wrapper{
    display: flex;
    align-items: center;
}


.banner-wrapper>div:first-child,
.banner-wrapper>div:last-child{
    width: 50%;
}

.banner-wrapper>div:last-child img{
    width: 100%;
}

.banner-wrapper h1{
    font-size: 48px;
    font-weight: 500;
    /* margin-bottom: 30px; */
    line-height: 80px;
}

.banner-wrapper p{
   margin: 30px 0px;
}

.banner-wrapper>div:first-child>div{
    display: flex;
    gap: 30px;
    align-items: center;
}

.banner-wrapper>div:first-child>div>a:first-child{
    background-color: #FFA92C;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 15px;
}